.wrapper {
  background: url(https://64.media.tumblr.com/0ba8a3e9373aeff66a347e04a8e61105/079b1d0ee278b7c5-24/s500x750/ed1f74da4ffd989d3bc99038ee5600a6727b0645.png), linear-gradient(#9740b9,#4f23bd,#a521c1,#364ed7,#9740b9);
  background-size: auto auto, 6000px 6000px;
  background-repeat: no-repeat, repeat;
  background-position: bottom right, top center;
}

#outer.wrapper {
  background: linear-gradient(  #9740b9,#4f23bd,#a521c1,#364ed7,#9740b9);
  background-size: 6000px 6000px;
}

#header {
  background: linear-gradient(#05192D,#b967ff,#05192D);
  background-image: url(https://cdn.fastly.steamstatic.com/steamcommunity/public/images/items/2861720/386c658bc267ea1a1973abd8f40990d66233caae.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center;
  margin: 0px;
}

#header .primary,
.blurb .header {
  background: transparent;
  box-shadow: none;
}

li.blurb,
li.comment {
  border-radius: 8px;
  background: #9740b9;
  box-shadow: 6px 6px 12px #8b3baa, -6px -6px 12px #a345c8;
  margin-bottom: 20px;
}

#header .actions a:hover,
#header .actions a:focus,
#header li:hover,
#header .dropdown .menu a:hover,
#header .dropdown .menu a:focus,
#header .actions a:hover,
#header .actions a:focus {
  background: linear-gradient(  #C774E8,#AD8CFF) !important;
}

#header a,
#header a:visited,
#header .current,
#header .primary .open a,
#header .primary .dropdown:hover a,
#header .primary .dropdown a:focus {
  color: white;
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
}

#header .menu,
#small_login,
#header .dropdown:hover .current+.menu {
  color: #b967ff;
  background-color: #05192D;
  background-image: radial-gradient(#C774E8 1px, transparent 1px);
  background-size: 10px 10px;
  padding: 10px;
}

body {
  font-family: arial, sans-serif;
  font-size: 1.1em;
  color: white;
}

li.relationships a {
  background: transparent;
}

.splash .favorite li:nth-of-type(2n+1) a {
  background: transparent;
}

.listbox,
fieldset,
fieldset dl dl,
fieldset fieldset,
fieldset fieldset fieldset,
fieldset fieldset dl dl,
dd.hideme,
form blockquote.userstuff,
form.verbose legend,
.verbose form legend,
dl.meta,
.dashboard .index,
.latest.news.module,
.favorite.module.odd,
.latest.messages.module.odd,
.latest.tweets.module {
  border-radius: 13px;
  background: #9740b9;
  box-shadow: 11px 11px 22px #8b3baa, -11px -11px 22px #a345c8;
  border-color: transparent;
}

ul.work.navigation.actions,
.feedback ul.actions {
  padding-bottom: 0;
  padding-top: 0;
  z-index: 3;
  position: relative;
}

.listbox .index,
fieldset fieldset,
fieldset dl dl,
form blockquote.userstuff,
fieldset fieldset.listbox,
div.comment,
li.comment,
.comment h4.byline,
#workskin .module,
.thread .even,
dl.index dd,
.news .wrapper,
.news dl.meta {
  border-radius: 0;
  background: transparent;
  border-color: transparent;
  box-shadow: none;
}

li.blurb,
fieldset,
form dl,
div.comment,
li.comment {
  border-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading,
#dashboard.own {
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  word-wrap: break-word;
}

.splash .module h3 {
  color: white;
}

.actions a,
.actions a:link,
.actions a:visited,
.action,
.action:link,
button,
.current,
.actions label,
.actions input,
input[type="submit"],
input {
  background: silver;
  box-shadow: inset -1px -1px #0a0a0a,inset 1px 1px #fff,inset -2px -2px grey,inset 2px 2px #dfdfdf;
}

.actions a:hover,
.actions input:hover,
#dashboard a:hover,
.actions a:focus,
.actions input:focus,
#dashboard a:focus,
.actions a:active,
.current,
.current a:visited,
.actions a:hover,
.actions input:hover,
#dashboard a:hover,
.actions a:focus,
.actions input:focus,
#dashboard a:focus,
.actions a:active,
.current,
.current a:visited,
#dashboard .current,
.actions a:active,
.current a:visited,
.notice,
.comment_notice,
ul.notes,
.caution,
.error,
.comment_error,
.alert.flash {
  box-shadow: inset -1px -1px #ffffff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px #808080;
  background: silver !important;
  color: black;
}

input[type=email],
input[type=password],
input[type=text],
select {
  padding: 3px 4px;
  box-shadow: inset -1px -1px #fff, inset 1px 1px grey, inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;
  background-color: #fff;
  box-sizing: border-box;
}

textarea {
  padding: 3px 4px;
  box-shadow: inset -1px -1px #fff, inset 1px 1px grey, inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;
  background-color: #fff;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}

#header .heading a {
  font-weight: bold;
  font-size: 4em;
  line-height: 120px;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline;
  background-image: linear-gradient(to right, #10D7AE, #FF6AD5);
}

#header .heading {
  display: block;
  margin: auto;
  float: none;
  text-align: center;
  text-shadow: 4px 4px 0px #fffb96;
  position: relative;
  z-index: 2;
  background-size: 10px 10px;
}

#header .logo {
  display: none;
}

a,
a:link,
a:visited,
a.tag {
  color: #fffb96;
  text-decoration: none;
  border-bottom: 3px solid;
}

.blurb h4 a:link,
.blurb h4 img,
#dashboard ul,
#dashboard a,
#dashboard span {
  color: #94D0FF;
  font-weight: bold;
}

a:hover,
#header a:hover,
a.tag:hover,
.listbox .heading a.tag:visited:hover,
.splash .favorite li:nth-of-type(odd) a:hover,
.splash .favorite li:nth-of-type(odd) a:focus {
  color: white;
  background: linear-gradient(to bottom right, #05192D,#b967ff);
}

.home .header h2,
#header .menu li {
  border: none;
  border-bottom: none;
  color: white;
}

#header .user a:hover,
#header .user a:focus,
#header .user .current {
  background: linear-gradient(  #C774E8,#AD8CFF) !important;
  color: white;
}

.required,
.error,
.alert.flash {
  color: #bd006b;
}

div.preface .title,
div.preface .byline,
div.preface .byline a {
  color: white;
}

#footer {
  background: linear-gradient(#ff9ed5 1px, transparent 1px),linear-gradient(to right, #ff9ed5 1px, #05192D 1px);
  background-size: 25px 25px;
  border-top: transparent;
}

#footer .module {
  border-radius: 14px;
  background: #05192D;
  box-shadow: 15px 15px 30px #030d17,-15px -15px 30px #072543;
}

table,
th,
tr:hover,
col.name {
  background: transparent !important;
}

tr,
th {
  border: 1px solid white;
}

thead,
tfoot {
  border-bottom: 1px solid white;
}

#dashboard.own {
  border-top: none;
  border-bottom: none;
  position: relative;
  z-index: 1;
}

#dashboard ul {
  border-top: 2px dashed cyan;
}

#header .open .menu,
#header .dropdown:hover .menu,
.open+#small_login,
#header .menu li {
  width: auto;
}

p.kudos {
  background-image: url(https://64.media.tumblr.com/936482dea728fcf424527dedfd5300b7/6d0326ff70dc2b46-f2/s640x960/b40c4a839549bcdd14acb314b3c56ee6aa4e1d5d.gif);
  background-size: 100%;
  background-position: top;
  background-repeat: repeat;
}

#main {
  word-break: break-all;
}

.filters .expander {
  background-color: silver;
}

.userstuff p {
  word-break: normal;
}

.work-1234,
.work-12345,
.work-2952378 {
  display: none !important;
}

.user-123456,
.blurb.user-987,
.bookmarks .user-21bnhj,
.comments.user-312345 {
  display: none !important;
}

.series-000,
.series-12346 {
  display: none !important;
}

a[href*="users/author"i] {
  color: #5998D6 !important;
  background-color: black !important;
}

a[href*="users/user"] {
  color: #5998D6 !important;
  font-weight: bold !important;
  text-decoration: line-through dotted !important;
  background-color: #5998D6 !important;
}

a[href*="users/welp"i],
[href*="users/mooooore"i] {
  color: blue !important;
  font-weight: bold !important;
  text-decoration: line-through wavy !important;
}

a.tag[href*="Major%20Character%20Death"i] {
  color: #9D0909 !important;
  font-weight: bold !important;
  text-decoration: underline !important;
}

a.tag[href*="Agender"i]:not([href*="phobia"i]) {
  background-image: linear-gradient(to right, rgba(76, 76, 76, 0.5), rgba(188, 196, 199, 0.5), rgba(246, 248, 251, 0.5), rgba(183, 246, 132, 0.5), rgba(246, 248, 251, 0.5), rgba(188, 196, 199, 0.5), rgba(76, 76, 76));
}

a.tag[href*="Aromantic"i]:not([href*="phobia"i]),
a.tag[href*="Aro!"i]:not([href*="phobia"i]) {
  background-image: linear-gradient(to right, rgba(61, 165, 66, 0.5), rgba(167, 211, 121, 0.5), rgba(246, 248, 251, 0.5), rgba(169, 169, 169, 0.5), rgba(76, 76, 76));
}

a.tag[href*="Asexual"i]:not([href*="phobia"i]),
a.tag[href*="Ace!"i]:not([href*="phobia"i]) {
  background-image: linear-gradient(to right, rgba(76, 76, 76, 0.5), rgba(114, 114, 114, 0.5), rgba(204, 204, 204, 0.5), rgba(192, 127, 192, 0.5), rgba(141, 25, 141, 0.5), rgba(141, 25, 141));
}

a.tag[href*="Bigender"i]:not([href*="phobia"i]) {
  background-image: linear-gradient(to right, rgba(237, 128, 170, 0.5), rgba(253, 244, 122, 0.5), rgba(250, 245, 251, 0.5), rgba(174, 117, 201, 0.5), rgba(123, 168, 224));
}

a.tag[href*="Bisexual"i]:not([href*="phobia"i]),
a.tag[href*="Bi!"i]:not([href*="phobia"i]) {
  background-image: linear-gradient(to right, rgba(214, 2, 112, 0.5), rgba(155, 79, 150, 0.5), rgba(50, 95, 185));
}

a.tag[href*="Demisexual"i]:not([href*="phobia"i]),
a.tag[href*="Demi!"i]:not([href*="phobia"i]) {
  background-image: linear-gradient(to right, rgba(76, 76, 76, 0.5), rgba(246, 248, 251, 0.5), rgba(141, 25, 141, 0.5), rgba(141, 25, 141, 0.5), rgba(210, 210, 210, 0.5), rgba(210, 210, 210, 0.5), rgba(210, 210, 210));
}

a.tag[href*="Gay"i]:not([href*="phobia"i]),
a.tag[href*="lgbtq"i]:not([href*="phobia"i]),
a.tag[href*="queer"i]:not([href*="phobia"i]) {
  background-image: linear-gradient(to right, rgba(209, 34, 41, 0.5), rgba(246, 138, 30, 0.5), rgba(253, 224, 26, 0.5), rgba(0, 121, 64, 0.5), rgba(36, 64, 142, 0.5), rgba(115, 41, 130));
}

li.relationships:has(a[href*="Steve%20Harrington*s*Eddie%20Munson"]) a.tag,
li.relationships:has(a[href*="Keith*s*Shiro%20"]) a.tag,
li.relationships:has(a[href*="Steve%20Rogers*s*Tony%20Stark"]) a.tag,
li.relationships:has(a[href*="Hank%20Anderson*s*Connor"]) a.tag,
li.relationships:has(a[href*="Kirk%20Hammett*s*James%20Hetfield"]) a.tag,
li.relationships:has(a[href*="Papa%20Emeritus%20III*s*Omega"]) a.tag,
li.relationships:has(a[href*="Chris%20Redfield*s*Albert%20Wesker"]) a.tag,
li.relationships:has(a[href*="Frank%20Iero*s*Gerard%20Way"]) a.tag,
li.relationships:has(a[href*="Gerard%20Way*s*Frank%20Iero"]) a.tag,
li.relationships:has(a[href*="Sherlock%20Holmes*s*John%20Watson"]) a.tag,
li.relationships:has(a[href*="Oh%20Sangwoo*s*Yoon%20Bum"]) a.tag,
li.relationships:has(a[href*="Will%20Graham*s*Hannibal%20Lecter"]) a.tag,
li.relationships:has(a[href*="Lestat%20de%20Lioncourt*s*Louis%20de%20Pointe%20du%20Lac"]) a.tag,
li.relationships:has(a[href*="Damien%20LaVey*s*Yellow%20%7C%20Oz"]) a.tag,
li.relationships:has(a[href*="James%20%22Bucky%22%20Barnes*s*Tony%20Stark"]) a.tag,
li.relationships:has(a[href*="Danny%20%22Jed%20Olsen%22%20Johnson%20%7C%20The%20Ghost%20Face*s*Michael%20Myers"]) a.tag,
a.tag[href*="Gay%20Man"i]:not([href*="phobia"i]),
a.tag[href*="mlm"i]:not([href*="phobia"i]) {
  background-image: linear-gradient(to right, rgba(7, 141, 112, 0.5), rgba(38, 206, 170, 0.5), rgba(152, 232, 193, 0.5), rgba(246, 248, 251, 0.5), rgba(123, 173, 226, 0.5), rgba(80, 73, 204, 0.5), rgba(61, 26, 120));
}

a.tag[href*="Genderfluid"i]:not([href*="phobia"i]),
a.tag[href*="Gender%20Fluid"i]:not([href*="phobia"i]) {
  background-image: linear-gradient(to right, rgba(255, 118, 164, 0.5), rgba(246, 248, 251, 0.5), rgba(192, 17, 215, 0.5), rgba(244, 235, 70, 0.5), rgba(47, 60, 190, 0.5), rgba(76, 76, 76));
}

a.tag[href*="Genderqueer"i]:not([href*="phobia"i]) {
  background-image: linear-gradient(to right, rgba(192, 136, 230, 0.5), rgba(192, 136, 230, 0.5), rgba(246, 248, 251, 0.5), rgba(74, 129, 35, 0.5), rgba(74, 129, 35));
}

a.tag[href*="Greygender"i]:not([href*="phobia"i]) {
  background-image: linear-gradient(to right, rgba(192, 190, 207, 0.5), rgba(249, 249, 255, 0.5), rgba(53, 70, 162, 0.5), rgba(249, 249, 255, 0.5), rgba(81, 81, 94));
}

li.relationships:has(a[href*="Robin%20Buckley*s*Nancy%20Wheeler"]) a.tag,
a.tag[href*="Lesbian"i]:not([href*="phobia"i]) {
  background-image: linear-gradient(to right, rgba(213, 45, 0, 0.5), rgba(239, 118, 39, 0.5), rgba(255, 154, 86, 0.5), rgba(229, 229, 229, 0.5), rgba(209, 98, 164, 0.5), rgba(181, 86, 144, 0.5), rgba(163, 2, 98));
}

a.tag[href*="Nonbinary"i]:not([href*="phobia"i]) {
  background-image: linear-gradient(to right, rgba(244, 235, 70, 0.5), rgba(254, 255, 248, 0.5), rgba(165, 97, 200, 0.5), rgba(30, 20, 45));
}

a.tag[href*="Pansexual"i]:not([href*="phobia"i]),
a.tag[href*="Pan!"i]:not([href*="phobia"i]) {
  background-image: linear-gradient(to right, rgba(255, 76, 153, 0.5), rgba(253, 230, 97, 0.5), rgba(69, 167, 248));
}

a.tag[href*="Polysexual"i]:not([href*="phobia"i]) {
  background-image: linear-gradient(to right, rgba(246, 80, 208, 0.5), rgba(116, 228, 160, 0.5), rgba(28, 184, 246));
}

a.tag[href*="Trans"i]:not([href*="Transphobia"i]):not([href*="transport"i]):not([href*="translation"i]):not([href*="transformers"i]) {
  background-image: linear-gradient(to right, rgba(37, 197, 251, 0.5), rgba(247, 170, 202, 0.5), rgba(246, 248, 251, 0.5), rgba(247, 170, 202, 0.5), rgba(37, 197, 251));
}
